[credential]
    helper = cache

[user]
    email = mail+github@leongr.nl
    name = LeonGr
    signingKey = ~/.ssh/github

[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[merge]
    tool = vimdiff
    conflictstyle = diff3

[mergetool]
    prompt = false

[mergetool "vimdiff"]
    path = nvim

[commit]
    gpgsign = true
[gpg]
    program = gpg2
    format = ssh

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #013800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    line-numbers = true
    navigate = true

[interactive]
    diffFilter = delta --color-only
[init]
	defaultBranch = main
