[credential]
    helper = cache

[user]
    email = leon.grasmeijer@prodrive-technologies.com
    name = Leon Grasmeijer

[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[core]
	autocrlf = input
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    excludesFile = ~/.gitignore

[merge]
    tool = vimdiff
    conflictstyle = diff3

[mergetool]
    prompt = false

[mergetool "vimdiff"]
    path = nvim
[bash]
	showInformativeStatus = false

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true

[interactive]
    diffFilter = delta --color-only
