[credential]
    helper = cache

[user]
    email = leon.grasmeijer@prodrive-technologies.com
    name = Leon Grasmeijer

[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[core]
	autocrlf = input
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[merge]
    tool = vimdiff
    conflictstyle = diff3

[mergetool]
    prompt = false

[mergetool "vimdiff"]
    path = nvim
