#include </home/leon/.termcolors/miami>


Xft.dpi:                        109
URxvt*termName:                 rxvt-256color
URxvt*font: xft:Menlo:pixelsize=12:antialias=true,xft:Inconsolata\ for\ Powerline:pixelsize=12,xft:Font\ Awesome:pixelsize=12,xft:DejaVu Sans Mono For Powerline:pixelsize=12
URxvt.depth:                    32
URxvt*lineSpace:                1
URxvt.letterSpace:              -1
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt*geometry:                 65x17
URxvt.scrollBar:                false
URxvt*loginShell:               true
URxvt.internalBorder:           35
URxvt.perl-ext-common:          default,clipboard
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.clipboard.autocopy:       true

!URxvt.transparent:              true
!URxvt.shading:                  5

! Colors
*background:   bg
*foreground:   fg
*cursorColor:  grn

*color0:      blk
*color8:      bblk
*color1:      red
*color9:      red
*color2:      grn
*color10:     grn
*color3:      ylw
*color11:     ylw
*color4:      blu
*color12:     blu
*color5:      mag
*color13:     mag
*color6:      cyn
*color14:     cyn
*color7:      wht
*color15:     wht

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: blk, blk, #1e2529
rofi.color-normal: blk, grn, blk, grn, blk
rofi.color-active: blk, grn, blk, #394249, grn
rofi.color-urgent: blk, #ff1844, blk, #394249, #ff1844
